.container-small {
  display: flex;
  margin: auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  width: 90%; }

header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px #fbc651 solid;
  position: fixed;
  z-index: 10;
  background: #7a8085; }

.logo {
  padding-left: 0px;
  white-space: nowrap; }
  .logo h1 {
    color: #fff;
    letter-spacing: 7px;
    font-size: 1.5rem;
    font-weight: 800; }
    @media (max-width: 768px) {
      .logo h1 {
        letter-spacing: 5px;
        font-size: 1rem; } }
  .logo span {
    color: #fbc651;
    letter-spacing: 5px;
    font-weight: 500; }
    @media (max-width: 768px) {
      .logo span {
        letter-spacing: 4px;
        font-size: 0.8rem; } }

.menu {
  list-style: none;
  display: flex;
  padding-right: 0px; }

.menu > .menu-item {
  display: inline-block;
  position: relative;
  margin-left: 35px; }

.menu > .menu-item > a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
  font-weight: 600; }

.menu > .menu-item > a:hover {
  color: #fbc651; }

.open-nav-menu {
  display: none;
  height: 34px;
  width: 40px;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.open-nav-menu span {
  position: relative;
  display: block;
  height: 3px;
  width: 29px;
  background-color: #fff;
  transition: all 0.3s ease; }

.open-nav-menu span:hover {
  background: #fbc651; }

.open-nav-menu span:before,
.open-nav-menu span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease; }

.open-nav-menu span:before {
  top: -10px; }

.open-nav-menu span:after {
  top: 10px; }

.open-nav-menu span:hover:before,
.open-nav-menu span:hover:after {
  background: #fbc651; }

.close-nav-menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  margin-left: 42px; }

.close-icon {
  margin-left: 17px;
  margin-top: 2px; }

.close-icon:before, .close-icon:after {
  position: absolute;
  content: ' ';
  height: 35px;
  width: 4px;
  background: #6c00ff;
  transition: all 0.3s ease; }

.close-icon:before {
  transform: rotate(45deg); }

.close-icon:after {
  transform: rotate(-45deg); }

.close-icon:hover:before, .close-icon:hover:after {
  background: #fff; }

.menu-overlay {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease; }

.menu-overlay.active {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .nav-menu {
    display: block;
    position: fixed;
    right: -280px;
    visibility: hidden;
    width: 280px;
    top: 0;
    overflow-y: auto;
    z-index: 1000;
    padding: 15px 0;
    background-color: #fbc651;
    transition: all 0.3s ease; }

  .nav-menu.open {
    visibility: visible;
    right: 0; }

  .menu {
    display: block; }

  .menu > .menu-item {
    display: block;
    padding: 7px;
    margin: 0; }

  .menu > .menu-item > a {
    color: #6c00ff; }

  .menu > .menu-item > a:hover {
    color: #fff; }

  .open-nav-menu,
  .close-nav-menu {
    display: flex; } }
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 40px; }

.hero__content {
  height: 100%;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  width: 90%;
  max-width: 1200px; }
  @media (min-width: 768px) {
    .hero__content {
      position: absolute;
      margin-top: 0;
      max-width: 1200px; } }
  .hero__content h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 24px;
    color: #fff; }
    @media (min-width: 768px) {
      .hero__content h1 {
        font-size: 3rem;
        line-height: 52px; } }
  .hero__content p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 16px;
    color: #fff;
    text-align: center; }
    @media (min-width: 576px) {
      .hero__content p {
        font-size: 1rem;
        line-height: 18px; } }
    @media (min-width: 768px) {
      .hero__content p {
        font-size: 1.5rem;
        line-height: 33px;
        padding-top: 0px; } }
  .hero__content .hero__line {
    display: none; }
    @media (min-width: 768px) {
      .hero__content .hero__line {
        display: block;
        width: 100px;
        height: 5px;
        border: 0;
        background: #6c00ff; } }

.hero__main {
  order: 1;
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .hero__main {
      order: 1; } }

.hero__bg {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
  order: 1; }
  .hero__bg img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    mix-blend-mode: darken;
    margin-bottom: -5px; }
  @media (max-width: 768px) {
    .hero__bg {
      order: 2; } }

.boxes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px; }
  @media (min-width: 576px) {
    .boxes-grid {
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 768px) {
    .boxes-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: gray;
  text-decoration: none; }
  .box:hover .box__image img {
    transform: scale(1.05);
    transition: .2s; }

.box__image {
  height: 194px;
  width: 100%;
  overflow: clip;
  position: relative;
  border-radius: 15px 15px 0px 0px; }
  .box__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: .2s; }

.box__content {
  min-height: 92px;
  background: white;
  width: 100%;
  border-radius: 0px 0px 15px 15px; }

.box__title {
  font-size: 22px;
  color: 0;
  padding: 16px 20px 6px; }

.box__info {
  padding: 0px 20px 10px;
  color: gray;
  font-size: 17px; }

.box--person .box__image {
  height: 292px; }
.box--person .box__content {
  min-height: 118px; }

.content h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #6c00ff;
  margin-bottom: 10px; }
.content p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000; }
  @media (min-width: 768px) {
    .content p {
      font-size: 1.2rem;
      font-weight: 500; } }

body, html {
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
  overflow-x: clip;
  box-sizing: border-box; }

body {
  background: #7a8085; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

.yellow-section {
  background: #fbc651;
  width: 100%;
  height: 500px;
  padding-top: 30px; }

.violet-section {
  width: 100%;
  padding: 30px;
  /* ff 3.6+ */
  background: -moz-linear-gradient(90deg, #6C00FF 1%, #6C00FF6B 100%, #EE82EE 100%);
  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(90deg, #6C00FF 1%, #6C00FF6B 100%, #EE82EE 100%);
  /* opera 11.10+ */
  background: -o-linear-gradient(90deg, #6C00FF 1%, #6C00FF6B 100%, #EE82EE 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#6C00FF', GradientType=0 );
  /* ie 10+ */
  background: -ms-linear-gradient(90deg, #6C00FF 1%, #6C00FF6B 100%, #EE82EE 100%);
  /* global 94%+ browsers support */
  background: linear-gradient(90deg, #6C00FF 1%, #6C00FF6B 100%, #EE82EE 100%); }

/*# sourceMappingURL=style.css.map */
