// Boxes

.container-boxes {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}

.boxes-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 30px;
  
    @media (min-width: $sm) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
}


.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: gray;
    text-decoration: none;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    -webkit-mask-image: -webkit-radial-gradient(white, black); 

    &:hover { 
        & .box__image img {
            transform: scale(1.05);
            transition: .2s;
        }
    }
}

.box__image {
    height: 194px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to left, rgba(34,42,51,0), rgba(34,42,51,1));
    
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;           
        transform: scale(1);
        transition: .2s;
        opacity: 0.6;
    }
}
// .box__marker {
//     position: absolute;
//     top: 8px;
//     left: 8px;
//     height: 40px;
//     width: 40px;
//     border-radius: 40px;
//     background: cyan;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     font-size: 20px;
// }

.box__content {
    min-height: 92px;
    background: $violet-1;  
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 13px;
    z-index: 5;
}

.box__title {
    font-size: 22px;
    color: $yellow-2;
    padding: 16px 20px 6px;
}

.box__info {
    padding: 0px 20px 10px;
    color: $white;
    font-size: 17px;
}

.box__labels {
    margin: 0px 18px 10px 18px;
    display: flex;
    flex-wrap: wrap;
}

.box__label {
    color: $white;
    margin: 10px 10px 0px 0px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 2px solid $white;
    padding: 5px 10px;
    width: fit-content;
}

// PERSON BOX

.box--person {
    & .box__image {
        height: 200px;
    }

    & .box__content {
        min-height: 118px;
    }
}