.content {

    & h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        color: $violet-1;
        margin-bottom: 10px;
    }

    & p {
        font-size: 1.1rem;
        font-weight: 700;
        color: $black-1;

        @media (min-width: $md) {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}